<div class="gridDiv">
    @for (int i = 0; i < 10; i++)
    {
        <div class="gridX">
            @for (int j = 0; j < 10; j++)
            {
                <Box></Box>
            }
        </div>
    }
</div>

<style>
    .gridDiv {
        height: 40vw;
        width: 40vw;
        background-color: black;
    }

    .gridX {
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
</style>




