@page "/"

<PageTitle>Index</PageTitle>

<h1>Cold Tournament</h1>

<div class="mainDiv">
    <Grid></Grid>
    <Grid></Grid>
</div>

<style>
    .mainDiv {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-around;
    }
</style>

    